html{
  font-size: 18px;
}
@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}
.mainContainer{
    max-width: 1264px;
    width: auto;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
