
.searchcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: auto;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  background-color: #f2ede9;
}

.searchcontainer input{
  width: 25rem;
  height: 2.5rem;
  border-radius: 1rem;
  border-color: #f2ede9;
  border-style: hidden;
  padding-left: 0.5rem;
  margin: 2.5rem;
}

.search-submit {
  display: flex;
  text-align: center;
  flex-basis: auto;
  flex-shrink: 2;
}

.search-submit a {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  background-color: #cca353;
  color: #ffffff;
  font-weight: 600;
  transition: background-color .5s;
}
.search-submit a:hover {
  cursor: pointer;
  background-color: #a7874b;
}
